#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.results {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 15px;
    padding: 8px;
    height: 100%;
    overflow: hidden;
}

.results.close {
    -webkit-transform: translate(-300px, 0);
    transform: translate(0px, -900px);
    transition: transform 0.3s ease;
}

.results-hide {
    position: absolute;
    right: 280px;
    top: 0px;
}

.results-list {
    background: rgba(165, 149, 169, 0.65);
}

ul {
    width: 100%;
    margin: 7px;
    padding: 0;
}

li.restaurant {
    /*list-style-position: inside;*/
    text-align: left;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-height: 575px) {
    div.results {
        height: 575px;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    div.results {
        width: 30%;
    }
}